@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --primary-color: #ffe45c;
    --secondary-color: #0A75BC;
}


body{
    font-family: 'Itim', cursive;
}


textarea{
    width: 30%;
    height: 10vh;
    display: block;
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
#output{
    width: 30%;
    height: 10vh;
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.header {
    background-color: var(--primary-color);
    padding: 2rem;
    display:block;
}

.header .header-name {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

#btn-translate{
    background-color: var(--primary-color);
    border-radius: 5rem;
    height: 4vh;
    color: var(--secondary-color);
    cursor: pointer;
    max-width: 140px;
    display: block;
    margin: auto;
}

.footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    font-size: 1rem;
    display:block;
    text-align: center;
   
}