@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --primary-color: #ffe45c;
    --secondary-color: #0A75BC;
}


body{
    font-family: 'Itim', cursive;
}


textarea{
    width: 30%;
    height: 10vh;
    display: block;
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
#output{
    width: 30%;
    height: 10vh;
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.container {      
    height: 15vh;
    margin: auto;
}


.navigation {
    max-width: 50%;    
    background-color: var(--primary-color);
    padding: 2rem;
}

.navigation .nav-brand {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 3rem;
    padding-top: 2rem;
    text-align: center;
}

#btn-translate{
    background-color: var(--primary-color);
    border-radius: 5rem;
    height: 4vh;
    color: var(--secondary-color);
    max-width: 140px;
    display: block;
    margin: auto;
}

.footer{
    max-width: 50%;    
    background-color: var(--primary-color);
    padding: 2rem;
   
}